@import "react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  height: 25rem;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  display: none;
}
